@using AppService;
@using DCCMSNameSpace;
@using MVC.Models;
@{

    List<AppService.FrontItemsModel> ItemsList;
    ItemsList = AppService.FrontItemsController.GetModuleData( (int)SiteModulesMap.Services, "AllTitles");
}

@foreach (FrontItemsModel item in ItemsList)
{
    <li><a href="/services/page/@item.ItemID/">@item.Title</a></li>
}
