body {
	text-align: center;
	background-color: #242424;
	margin: 0;
	background-repeat: repeat-x;
	background-image: url('images/bg.gif');
	direction: ltr;
	color: white;
	font-family: Tahoma;
	font-size: 11px;
	
}
#warpper {
	position: relative;
	margin: 0 auto;
	width: 980px;
	float: none;
	clear: both;
}
.footer{
	position: relative;
	margin: 0 auto;
	width: 900px;
	height:30px;
	float: none;
	clear: both;
	padding-top:20px;
	background-image:url('images/footer.gif');
}
/*********************************************/
#header {
	width: 980px;
	height: 50px;
	background-image: url('images/adminupper.jpg');
	float: left;
}
.headerHoler {
	margin-right:40px;
	margin-left:40px;
	width: 900px;
	height: 180px;
	background-image: url('images/Main/admin-header.gif');
	float: left;
}
/*********************************************************/
.upicons{
	float:left;
	margin-left:690px;
	margin-top:10px;
	
}
.main-but{
	float:left;
	width:60px;
	height:55px;
	background-image:url('images/main.png');
	background-repeat:no-repeat;
}
.main-How{
	float:left;
	width:60px;
	height:55px;
	background-image:url('images/howTo.png');
	background-repeat:no-repeat;
}
.logout-but{
	float:left;
	width:60px;
	height:55px;
	background-image:url('images/logout.png');
	background-repeat:no-repeat;

}

#menu {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top:62px;
	width: 860px;
	background-image:url('images/MENUholder.gif');
	height: 40px;
	clear:both;
}
#userInfo
{
	float: left;
    
	color:#3b3b3b;
	margin-top:5px;
	margin-left:10px;
	font-family:"Arial";
	font-size:12px;
	font-weight:bold;
	text-align:left;
	width:auto;
	margin-top:12px;
}
.userPremission{
	font-size:10px;
	font-weight:normal;
}
.UserName{
	font-weight:bold;
	color:#3ea3d9;
}
ul#menuItems {
	float: right;
	color: #3b3b3b;
	height: 30px;
	margin-right: 0px;
	margin-top: 5px;
	padding: 0;
	font-family:"arial";
	font-size: 12px;
	font-weight: bolder;
	min-width:170px;
	width:auto;
	text-transform:uppercase;
	

}
ul#menuItems li {
	float: right;
	list-style-type: none;
	width: 70px;
	height:30px;
	margin-right:5px;
	margin-left:5px;
}
ul#menuItems li.menu_item a:visited {
	text-decoration: none;
}
ul#menuItems li.menu_item a {
	display: block;
	color: #3b3b3b;
	padding:7px 0 0;
	height:23px;
	text-decoration: none;
}
ul#menuItems li.menu_item a:hover {
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	background-image:url('images/menubg.gif');
	width:70px;
	height:23px;
}
.menuStart {
	float: left;
	background-image: url('images/CP-Design-02_04-07.gif');
	width: 10px;
	height: 60px;
}
.menuEnd {
	float: left;
	background-image: url('images/CP-Design-02_04.gif');
	width: 10px;
	height: 60px;
}
.menuContent {
	float: left;
	background-image: url('images/CP_05.gif');
	width: 880px;
	height: 60px;
}
.bodyhead{
	float:left;
	width:900px;
	height:20px;
	background-image:url('images/CP_09.gif');	
}
#nav{
	float:left;
	width:185px;
	margin-left:20px;
	background-color:#ededed;
}
.navehead{
	float:left;
	clear:both;
	width:185px;
	height:5px;
	background-image:url('images/CP_11.gif');	
}
/**************************************************/

.naveFooter{
	float:left;
	clear:both;
	width:185px;
	height:5px;
	background-image:url('images/CP_74.gif');	
}

.bodyfooter{
	float:left;
	width:900px;
	height:20px;
	background-image:url('images/CP-Design-02_12.gif');
}
#body{
	width:900px;
	float:left;
	margin:20px 40px 20px 40px;
	background-color:#171717;
}
#content{
	float:left;
	width:660px;
	margin-left:15px;
	margin-right:20px;
}

.ContentHead
{
	float:left;
	width:628px;
	height:28px;
	background-image:url('images/contenthead.gif');
	text-align:left;
	padding-left:32px;
	padding-top:12px;
	font-size:13px;
	font-weight:bold;
}
.ContentData{
	float:left;
	text-align:left;
	width:640px;
	padding:10px;
	background-image:url('images/contentbg.gif');
	color:#4e4e4e;
	min-height:341px;
	/*border:solid 1px red;*/

}
.ContentFooter{
	float:left;
	width:660px;
	height:5px;
	background-image:url('images/contentfoot.gif');
}
.dropdownstyle{
	background-color:white;
	color:#4e4e4e;
	font-size:11px;
	vertical-align:middle;
	min-width:250px;
	border-style:hidden;
}

.longbut{
	float:right;
	width:110px;
	height:20px;
	background-image:url('images/longbut.png');
	font-family:Tahoma;
	color:white;
	font-size:11px;
	font-weight:bold;
	border-style:none;
	margin-left:5px;
	padding:0;
	vertical-align:middle;
}
.griddiv{
	float:left;
	text-align:left;
	width:660px;
	margin-top:20px;
}
.gridHead{
	float:left;
	width:660px;
	height:33px;
	padding-top:17px;
	font-size:12px;
	font-weight:bold;
	background-image:url('images/gridHead.gif');
}
.gridItem0{
	float:left;
	width:660px;
	height:23px;
	padding-top:7px;
	margin-top:3px;
	font-size:11px;
	font-weight:normal;
	color:#4f4f4f;
	background-image:url('images/griditem0.gif');
}
.gridItem1{
	float:left;
	width:660px;
	height:23px;
	padding-top:7px;
	margin-top:3px;
	font-size:11px;
	font-weight:normal;
	color:#4f4f4f;
	background-image:url('images/griditem1.gif');
}
.itemTitle{
	margin-left:40px;
}
.itemTitle2{
	margin-left:260px;
}
.itemTitle3{
	margin-left:90px;
}

.gredCheck{
	vertical-align:middle;
	margin-left:25px;
}
.itemtext1{
	width:310px;
	margin-left:40px;
}
.itemtext2{
	margin-left:277px;
}
.itemtext3{
	font-weight:bold;
	margin-left:95px;
}
.pager{
	margin-right:10px;
	float:right;
	color:white;
	font-size:10px;
	font-weight:bold;
	margin-top:5px;
	text-decoration:none;
}
.pager a{
	color:white;
	text-decoration:none;
}
.pager a:hover{
	color:#49beff;
}
.pagerON{
	color:#49beff;
}
/***********************************************************************************/
.arrowlistmenubig
{
    /*float:left;*/
	width:640px;
	margin-top:5px;
	/*border:1px solid red;*/
}
.arrowlistmenubig .menuheader
{ 
	/*float:left;*/
    width:630px;
	text-align:left;
	margin-top:5px;
	height:22px;
	padding-top:8px;
	padding-left:10px;
	font-family:"tahoma";
	font-size: 11px;
	font-weight: bold;
	background-color:#cccccc;
    cursor: pointer;
    color:#000;
    text-align:center;
}

.arrowlistmenubig .openheader{ 
background-color:#ddd;
color:#003c5c;
}
.categoryitems
{
      /*float:left;*/
	/*width:638px;*/
	width:auto;
	margin-top:10px;
	margin-bottom:10px;
	padding-top:0px;
	padding-bottom:0px;
	/*border:1px solid #cccccc;
	border-bottom-width:0px;*/
}
.elssubcontainer
        {
            direction: ltr;
            width: 100%;
        }
.smallSubHeader{background-color: #DDDDDD; color: #003C5C; text-align:center; height:14px; padding:2px; border-bottom:solid 1px #CCCCCC;}
        
.text-en,.Title-en,.Text-en,.title-en
{
	vertical-align:top;
	font-family: tahoma;
	text-align : right;
	font-size: 11px;
	font-weight: bold;
	color:#4e4e4e;
    padding :0px 0px 0px 5px;
	/*min-width:100px;*/
	width:170;
	vertical-align:middle;
	border-bottom:solid 1px #cccccc;
	border-left:solid 1px #cccccc;
}
.control-en,.Control-en
{
	padding :2px 10px 2px 2px;
	text-align:right;
	/*vertical-align:bottom;*/
	vertical-align:middle;
	border-bottom:solid 1px #cccccc;
	width:450px;
	/*border:solid 1px red;*/
}
.Controls-en,.controls-en,.contentInput-en
{
    
	border-style:solid;
	border-color:#dedede;
	border-width:1px;
	background-color:#eeeeee;
	vertical-align:middle;
	width:150px;
}
textarea.Controls,textarea.controls,textarea.contentInput
{
	width:500px;
	height:80px;
}

.BigControls
{
	margin-top:10px;
	border-style:solid;
	border-color:#dedede;
	border-width:1px;
	background-color:#eeeeee;
	vertical-align:middle;
	width:585px;
	height:80px;
}



/********************************Menu******************************/
.arrowlistmenu
{
    /*float:left;*/
	width:185px;
	margin-top:5px;
	/*min-height:600px;*/
/*width: 180px; *//*width of accordion menu*/
}

.arrowlistmenu .menuheader{ 
    width:165px;
	float:left;
	text-align:left;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
	height:22px;
	padding-top:8px;
	padding-left:10px;
	font-family:"tahoma";
	font-size: 11px;
	font-weight: bold;
	background-image:url('images/listmenubg.gif');
    cursor: pointer;
}

.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/
background-image:url('images/listmenubgover.gif');
color:#003c5c;

}

.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}
/*************************ELS*****************************/

.arrowlistmenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a,.arrowlistmenu ul li a:visited{
	float:left;
	text-align:left;
	width:165px;
	height:20px;
	margin-top:3px;
	margin-left:5px;
	margin-right:5px;
	padding-top:5px;
	padding-left:10px;
	font-family:"tahoma";
	font-size: 12px;
	font-weight: normal;
	color:#414141;
	background-image:url('images/subbg.gif');
	text-decoration:none;
}
.arrowlistmenu ul li a:hover{ /*hover state CSS*/
color:#000;
background-image:url('images/subbgover.gif');
background-color: #F3F3F3;

}
/***********************************************************************************/

/***************************************************************************************/
.HdTopBG
{
    padding: 0px 0px 0px 30px; 
    background-image:url('Images/Design/HdTopBG.jpg');  height:30px;
}
.FooterBG
{
    background:url('images/Design/New/FooterBG.jpg') repeat-x;     height:77px;   
    text-align:center; padding-top:40px;    font-family:Tahoma; font-size:12px;
}
/***************************************Admin Style*************************************/
/*HTML
{}
body 
{text-align: center; margin:0px 0px 0px 0px;  direction:ltr;
}*/

.FormHolder
{width:100%;}
.SubHolder
{ padding-bottom:10px; }
.TitleBolit
{
    background: url(images/Menu/NavTitleBG.jpg) repeat-x center right;
    padding: 0px 10px 0px 10px; width:9px;
}
.NavTitleBolit
{
  background-image:url(Images/Menu/NavTitleBolit.jpg);  background-repeat:no-repeat; width: 9px; height: 11px
}


.SubHeader
{
	text-align:center;
	background-image:url('images/DetailsBg.png');
	width:630px;
	height:20px;
	/*margin-top:15px;*/
	padding-top:5px;
	vertical-align:middle;
	
	padding-left:10px;
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	color:#000;
}
.text,.Title,.Text,.title
{
	vertical-align:top;
	font-family: tahoma;
	text-align : left;
	font-size: 11px;
	color:#4e4e4e;

    padding :0px 0px 0px 5px;
	width:100px;
	vertical-align:middle;
}


.control,.Control
{
	padding :2px 10px 2px 2px;
	text-align:left;
	vertical-align:top;
}
.DetailsControl
{
	padding :10px 10px 2px 10px;
	text-align:left;
	vertical-align:top;
	}
	.PagerControl
	{
	padding :10px;
}

td.textCenter
{
	 vertical-align:top;
    padding :2px 5px 2px 5px;
	font-family : Times New Roman ;
	font-size:14px;
	font-weight : bold;
	text-align : center;
	color:#000;
}
td.ControlCenter
{
	padding :2px 5px 2px 5px;
    border-bottom: solid 1px #CBCBCB;
	text-align : center;
}
td.Submit
{
	padding :10px 0px 10px 0px;   
   /* border: solid 1px #CBCBCB;*/
	text-align:right;
}
td.Result
{
	color : Red;
	font-family : Times New Roman ;
	font-weight : bold;
	text-align:center;
	padding-top:10px;
}
.Button,.shortbut
{
	width:60px;
	height:20px;
	background-image:url('images/shortbut.png');
	font-family:Tahoma;
	color:white;
	font-size:11px;
	font-weight:bold;
	border-style:none;

	vertical-align:middle;
	padding-bottom:5px;
	cursor:pointer;

}
.BigButton{
	width:auto;
	height:20px;
	background-image:url('images/but_bg.jpg');
	font-family:Tahoma;
	color:white;
	font-size:11px;
	font-weight:bold;
	border-style:none;

	vertical-align:middle;
	padding-bottom:5px;
	cursor:pointer;
	border:solid 1px #2E9BD5;

}
.Controls,.controls,.contentInput
{
    
	border-style:solid;
	border-color:#dedede;
	border-width:1px;
	background-color:#eeeeee;
	vertical-align:middle;
	width:250px;
}
.ControlsLong,.controlsLong,.contentInputLong
{
    
	border-style:solid;
	border-color:#dedede;
	border-width:1px;
	background-color:#eeeeee;
	vertical-align:middle;
	width:490px;
}

textarea.Controls,textarea.controls,textarea.contentInput
{
	width:500px;
	height:80px;
}
.DetailsControls
{
	border-style:solid;
	border-color:#dedede;
	border-width:1px;
	background-color:#eeeeee;
	vertical-align:middle;
	width:500px;
	border:solid 1px #dedede;
}
textarea.DetailsControls
{
	width:600px;
	height:400px;
	}
.SmallControls
{
	/*margin-left:10px;*/
	border:solid 1px #dedede;
	background-color:#eeeeee;
	vertical-align:middle;
	width:100px;
}

.bigcontrols
{

	margin-left:10px;
	border-style:solid;
	border-color:#dedede;
	border-width:1px;
	background-color:#eeeeee;
	vertical-align:middle;
	width:600px;
	height:600px;
	min-height:600;
}
.Imagetext
{
	background-color:#E1E1E1;
	height:16px;
	padding-left:10px;
	text-align:left;
}
.PhotoContainer
{
	vertical-align:middle;
	text-align : center;
	border: solid 1px #CBCBCB;
	width:120px;
}
	
.Image
{
    padding-top:2px;
    padding-bottom:2px;
	background-color:#EEEEEE;
	/*padding:3;*/
}

A:link, A:visited ,A:active
{
	font-family : Times New Roman ;
	color : #000000;
	TEXT-DECORATION: none;
	font-weight : bold;
}
A:hover
{
	TEXT-DECORATION: underline;
}
/************************************************************************************/

.ItemStyle 
{
	
	font-family:Verdana;
	font-size:8pt;
	font-weight:bold;
	color:#000;
	
}
.ItemStyleButton 
{
	
	font-family:Verdana;
	font-size:8pt;
	font-weight:bold;
	color:#000;
	text-align:center;
	
}
.ItemStyleTitle 
{
	font-size:11px;
	font-weight:normal;
	color:#4f4f4f;
	text-align:left;
	
}
/*-------------------------Begin Row style and alternative row style---------------------------------*/
td.GridControl
{
	padding :10px 0px 0px 0px;
}
.HeaderStyle 
{
	background-image:url('images/Grid/Grid-Header.gif');
	background-repeat:no-repeat;
	width:640px;
	height:53px;
	margin-bottom:3px;
	vertical-align:middle;
}
.RowStyle 
{
    background-image:url('images/Grid/Grid-Item.gif');
	background-repeat:no-repeat;
	width:640px;
	height:33px;
	margin-bottom:2px;
	
}
.AlternatingRowStyle 
{
	background-image:url('images/Grid/Grid-Alter.gif');
	background-repeat:no-repeat;
	width:640px;
	height:33px;
	margin-bottom:2px;
}
.AlternatingRowStyle:hover {background-image:url('images/Grid/Grid-Hover.gif');}
.RowStyle:hover {background-image:url('images/Grid/Grid-Hover.gif');}

.GridDeleteHeader
{background: url(Images/Grid/Delete-Header.gif) no-repeat center left; width:50px; height:50px; margin-bottom:3px; border-width:0px;}

.GridEditHeader
{ background: url(Images/Grid/Edit-Header.gif) no-repeat center left; width:50px; height:50px; margin-bottom:3px; border-width:0px;}

.ibtnGridDelete
{background: url(Images/Icons/Delete.gif) no-repeat center left; width:50px; height:25px; border-width:0px;}

.hlGridEdit
{ background: url(Images/Icons/edit.gif) no-repeat center left; width:50px; height:25px; border-width:0px;}

.hlGridComments
{background: url(Images/Icons/Comments.png) no-repeat center left; width:20px; height:20px; border-width:0px;}
/***********************************************************************************/
.GridTitle-H{float:left; width:450px; text-align:left; padding-top:14px; font-weight:bold; font-size:12px; /*border:solid 1px red;*/}

.GridIndex{float:left; width:20px; text-align:left; padding-top:4px; /*border:solid 1px red;*/}
.GridTitle{float:left; width:450px; text-align:left; padding-top:4px; /*border:solid 1px red;*/}
.GridPhoto{float:left; width:450px; text-align:left; padding-top:4px; /*border:solid 1px red;*/}
.GridComments{float:left; width:50px; text-align:left; /*border:solid 1px red;*/}
.GridUpdate{float:left; width:50px; text-align:left; /*border:solid 1px red;*/}
.GridDelete{float:left; width:50px; text-align:left; /*border:solid 1px red;*/}
/*-------------------------End Row style and alternative row style---------------------------------*/

.btnDeletePhoto
{background: url(images/Icons/DeletePhoto.gif) no-repeat center left; width:50px; height:16px; border-width:0px; cursor:pointer;}
.btnEditPhoto
{background: url(images/Icons/editPhoto.jpg) no-repeat center left; width:50px; height:16px; border-width:0px; cursor:pointer;}
.btnDeleteFile
{background: url(images/Icons/btnDelete.gif) no-repeat center left; width:65px; height:20px; border-width:0px;}
.btnFileDownload
{background: url(images/Icons/btnDownload.gif) no-repeat center left; width:65px; height:20px; border-width:0px; /*border:solid 1px #000;*/}


/*************************************DesignStart************************************/
.HeaderLink
{
	width: 65px; text-align: center; padding-top: 6px; background-image: url(images/Design/New/HeaderLinkBG.jpg);
}

.HeaderBar
{
	text-align: right; background-color: #EDEDED; background-image: url(images/Design/New/CPanelLinksBg.jpg); color: #000000; height: 34px;
}
.AdminHeader
{
	background-color: #336799; background-image: url(images/Design/New/CPHeader.jpg); background-repeat:no-repeat;
    text-align: center; width: 1004px;   height: 154px;                             
}
.Header-Fasel
{
    background-image: url(images/Design/New/Header-Fasel.jpg); background-repeat:no-repeat;width: 16px; height: 34px
}
.Header-Separetor
{
    background-image: url(images/Design/New/HeaderSeparetor.jpg); background-repeat:no-repeat;width: 1px; height: 34px
}
.AdminContainer
{border: 1px solid #C2C2C2; width: 1004px; height: 100%;}

A.Headerlink:link, A.Header:visited ,A.Header:active
{
	color: #000; font-family: Tahoma; font-size: 13px; font-weight: bold;
}
A.Header:hover
{
	text-decoration: underline;
}
/************************************************************************************/
/**************************************DesignEnd*************************************/
.lblResult_Done{color: blue; font-family: Tahoma;	font-size: 11px; padding-top:5px; padding-bottom:5px; text-align:center;}
.lblResult_Faild{color:Red; font-family: Tahoma;	font-size: 11px; padding-top:5px; padding-bottom:5px; text-align:center;}
/**************************************MultiLanguages ************************************/
/*.tab{cursor:pointer; font-family:Arial; padding:5px; font-size:15px;color:#000;background-color:#8AACC6; border:solid 1px #1A4968; border-bottom:0px;  width:80px; height:18px;}
*/
.tab
{
    cursor:pointer;
    font-family:Tahoma;
    font-size:12px; 
    font-weight:bold; 
    color:#1A577A; 
    width:76px; 
    height:20px;
    padding-top:2px;
    margin-right:2px; 
    background-image:url('images/TabUnActive.gif');
    background-repeat:no-repeat;
    background-color:#78BDE6;
}

.tabActive
{
    cursor:pointer;
    font-family:Tahoma;
    font-size:12px; 
    font-weight:bold; 
    color:#1A577A; 
    width:76px; 
    height:20px;
    padding-top:2px;
    margin-right:2px; 
    background-image:url('images/TabActive.gif');
    background-repeat:no-repeat;
    background-color:#78BDE6;
}
.tableTab{/* border-bottom:solid 2px #000;*/ }

.TabOpen
{
    border:solid 0px #000; padding:5px;
    
}
.TabData
{
   /* border:solid 1px #000;*/
    
    }
.MultiTabs{border:solid 2px #E9E9E9; border-top:solid 2px #6FB9E4;}
.SingleTab{}
/************************************************************************************/
/*********************************Pager*******************************/
/*.PagerControl
{
	padding:10px 2px 2px 2px ;
    margin :30px 2px 10px 2px; 
}
a.PagerImage
{
	margin: 1px 2px 1px 2px; 
	padding:2px 2px 2px 2px ;
    text-align:center;
}
.Pager-Active
{
	font-weight: bold; 
    font-size: 11px; 
    color: #fff;
    font-family: tahoma;
    text-align:center;
    direction:ltr;
    background-color:#5E90C3;
    text-decoration:none;
    border:solid 1px #000;
    margin: 1px 1px 1px 1px; 
	margin: 1px 2px 1px 2px; 
	padding:2px 5px 2px 5px ;
	width:20px;
}
.Pager-Active:hover
{
	}

a.Pager
{
    font-weight: bold; 
    font-size: 11px; 
    color: #3967ab;
    font-family: tahoma;
    text-align:center;
    direction:ltr;
    text-decoration:none;
    border:solid 1px #5E90C3;
    margin: 1px 2px 1px 2px; 
	padding:2px 5px 2px 5px ;
	width:20px;
    
}
a.Pager:hover
{
background-color:#ECF3F9;
   
}
a.Pager:visited
{
    font-weight: bold; 
    font-size: 11px; 
    color: #3967ab;
    font-family: tahoma;
    text-align:center;
    direction:ltr;
    text-decoration:none;
    border:solid 1px #5E90C3;
	width:20px;
}
.PagerText
{
    font-weight: bold;
    font-size: 11px; 
    color: #000;
    font-family: tahoma;
    text-align:center;
    margin: 1px 2px 1px 2px; 
	padding:2px 5px 2px 5px ;
}
.PagerActivePage
{
}
.PagerOtherPage
{
}*/
/***********************************************************************************/
/******Pager******/
.Pager-Container
{
    /* margin :30px 2px 10px 2px; */
     
    /*border:solid 1px red;*/
    }
/*----------------------------*/

.Pager-First
{background-image:url(images/Pager/FirstEnable.gif);  background-repeat:no-repeat; width:10px; height:12px; border-width:0px;}
.Pager-First-Disable

{background-image:url(images/Pager/FirstDisable.gif);  background-repeat:no-repeat; width:10px; height:12px; border-width:0px;}
.Pager-Previous
{background-image:url(images/Pager/PreviousEnable.gif);  background-repeat:no-repeat; width:10px; height:12px; border-width:0px;}
.Pager-Previous-Disable
{background-image:url(images/Pager/PreviousDisable.gif);  background-repeat:no-repeat; width:10px; height:12px; border-width:0px;}

.Pager-Next
{background-image:url(images/Pager/NextEnable.gif);  background-repeat:no-repeat; width:10px; height:12px; border-width:0px;}
.Pager-Next-Disable
{background-image:url(images/Pager/NextDisable.gif);  background-repeat:no-repeat; width:10px; height:12px; border-width:0px;}

.Pager-Last 
{background-image:url(images/Pager/LastEnable.gif);  background-repeat:no-repeat; width:10px; height:12px; border-width:0px;}
.Pager-Last-Disable
{background-image:url(images/Pager/LastDisable.gif);  background-repeat:no-repeat; width:10px; height:12px; border-width:0px;}

.Pager-Item,a.Pager-Item
{
    float:left;
	width:20px; height:20px;
	margin:0px 2px 0px 2px;
	padding-top:5px;
    border:solid 1px #B8B7B7;
    vertical-align:middle;
    text-align:center;
    font:normal normal bold 12px arial ;
    color: #B8B7B7;
    text-decoration:none;
}
.Pager-Item-Img,a.Pager-Item-Img
{
    float:left;
	width:20px; height:20px;
	margin:0px 2px 0px 2px;
	padding-top:5px;
    /*border:solid 1px #fff;*/
    vertical-align:middle;
    text-align:center;
    font:normal normal bold 12px arial ;
    color: #fff;
    text-decoration:none;
}
.Pager-ActiveLink
{
    float:left;
	width:20px; height:20px;
	margin:0px 2px 0px 2px;
	padding-top:5px;
    border:solid 1px #0479BB;
    vertical-align:middle;
    text-align:center;
    font:normal normal bold 12px arial ;
    color: #0479BB;
    text-decoration:none;

}

/******Pager******/
.PagerControl
{
    margin :35px 2px 10px 2px; 
    height:80px;
}
a.PagerImage
{
 margin: 1px 1px 1px 1px; 
	width:30px;
    text-align:center;
    padding: 4px 7px 4px 7px;
   margin:2px;
}
.Pager-Active
{
   font-weight: bold; 
    font-size: 11px; 
    color: #355188;
    font-family: tahoma;
    text-align:center;
    direction:ltr;
    background-color:#BCE3F2;
    text-decoration:none;
    border:solid 1px #123F80;
    margin: 1px 1px 1px 1px; 
	width:30px;
    padding: 4px 7px 4px 7px;

	
}

/********************/
a.Pager
{
   font-weight: bold; 
    font-size: 11px; 
    color: #123F80;
    font-family: tahoma;
    text-align:center;
    direction:ltr;
    text-decoration:none;
    border:solid 1px #BCE3F2;
    margin: 1px 1px 1px 1px; 
	width:30px;
    padding: 4px 7px 4px 7px;
    margin:4px;
	
    
}
a.Pager:hover
{
background-color:#BCE3F2;
   
}
a.Pager:visited
{
    font-weight: bold; 
    font-size: 11px; 
    color: #123F80;
    font-family: tahoma;
    text-align:center;
    direction:ltr;
    text-decoration:none;
    border:solid 1px #123F80;
    margin: 1px 1px 1px 1px; 
	width:30px;
	padding: 4px 7px 4px 7px;
}
.PagerText
{

    font-size: 11px; 
    color: #000;
    font-family: tahoma;
    text-align:center;
    padding: 4px 7px 4px 7px;
    vertical-align:bottom;
}
.PagerActivePage
{
}
.PagerOtherPage
{
}
.tabfasel{background-color: #70B9E4; height: 4px;}
.youtubeviewer{width:20px; height:20px;background-image:url('images/Icons/youtube.png'); border-width:0px;}
.googleIcon{width:20px; height:20px;background-image:url('images/Icons/google.png'); border-width:0px;}
td.toplinks
{
	background-color:#dcdcdc; border:1px solid #fff; height:25px; vertical-align:middle; padding-left:20px;
}
a.toplinks ,a.toplinks:active ,a.toplinks:link, a.toplinks:hover, a.toplinks:visited
{font-size:14px; text-decoration:none; color:#000;}