<?xml version="1.0" encoding="utf-8" ?>
<SiteURLs>
    <QueryStringParameters>
        <Parameter name="##ID##">id</Parameter>
        <Parameter name="##ItemID##">id</Parameter>
        <Parameter name="##CategoryID##">id</Parameter>
        <Parameter name="##MessageID##">id</Parameter>
        <Parameter name="##OwnerName##">on</Parameter>
        <Parameter name="##UserID##">id</Parameter>
        <Parameter name="##PageID##">id</Parameter>
        <!--<Parameter name="##ModuleID##">mid</Parameter>-->
        <Parameter name="##ModuleName##">mname</Parameter>
        <!--<Parameter name="##ModuleBaseType##">mbt</Parameter>-->
        <!--<Parameter name="##PageTypeID##">ptd</Parameter>-->
    </QueryStringParameters>
    <Urls>
        <url name="home" path="default.aspx" />


        <url name="SubSiteItemsDefault"    type="" path="/{0}/SubSite/{1}/{2}-{3}-{4}-1/{5}.aspx" pattern="(\w+)/SubSite/(\w+)/(\d+)-(\d+)/(\p{IsArabic}|\w+).aspx" vanity="SubSite/Items/$2/{0}.aspx?##ID##=$3^##PageTypeID##=$6^##OwnerName##=$1" />
        <url name="SubSiteItemsCategories" type="" path="/{0}/SubSite/{1}/{2}-{3}-{4}-1/{5}.aspx" pattern="(\w+)/SubSite/(\w+)/(\d+)-(\d+)/(\p{IsArabic}|\w+).aspx" vanity="SubSite/Items/$2/{0}.aspx?##ID##=$3^##PageTypeID##=$6^##OwnerName##=$1" />
        <url name="SubSiteItemsDetails"    type="" path="/{0}/SubSite/{1}/{2}-{3}-{4}-2/{5}.aspx" pattern="(\w+)/SubSite/(\w+)/(\d+)-(\d+)/(\p{IsArabic}|\w+).aspx" vanity="SubSite/Items/$2/{0}.aspx?##ID##=$3^##PageTypeID##=$6^##OwnerName##=$1" />
        <url name="SubSiteItemsGalleryHtml"    type="" path="/{0}/SubSite/{1}/{2}-{3}-{4}-5/gallery/{5}.aspx" pattern="(\w+)/SubSite/(\w+)/(\d+)-(\d+)/gallery/(\p{IsArabic}|\w+).aspx" vanity="SubSite/Items/$2/photos/gallery.aspx?##ID##=$3^##OwnerName##=$1" />
        <url name="SubSiteItemsGalleryFlash"    type="" path="/{0}/SubSite/{1}/{2}-{3}-{4}-6/gallery/flash/{5}.aspx" pattern="(\w+)/SubSite/(\w+)/(\d+)-(\d+)/gallery/flash/(\p{IsArabic}|\w+).aspx" vanity="SubSite/Items/$2/photos/flash.aspx?##ID##=$3^##OwnerName##=$1" />
        <url name="SubSiteItemsRss"    type="" path="/{0}/SubSite/{1}/{2}-{3}-{4}-1/rss/{5}.aspx" pattern="(\w+)/SubSite/(\w+)/(\d+)-(\d+)/rss/(\p{IsArabic}|\w+).aspx" vanity="SubSite/Items/$2/rss/default.aspx?##ID##=$3^##OwnerName##=$1" />



        <!--<url name="ItemsDefault"    type="" path="/{0}/{1}-1/{2}.aspx" pattern="(\w+)/(\d+)-(\d+)/(\p{IsArabic}|\w+).aspx" vanity="WebSite/$1/{0}.aspx?##ModuleName##=$1^##ID##=$2^##PageTypeID##=$3" />-->
		<url name="ItemsDefault"    type="" path="/{0}/all.aspx" pattern="(\w+)/all.aspx" vanity="WebSite/$1/default.aspx?##ModuleName##=$1" />
		
		<url name="MessagesDefault"    type="" path="/{0}/send.aspx" pattern="(\w+)/send.aspx" vanity="WebSite/$1/send.aspx?##ModuleName##=$1" />
		
		<url name="ItemsCategories" type="" path="/{0}/category/{1}/{2}.aspx" pattern="(\w+)/category/(\d+)/(\p{IsArabic}|\w+).aspx" vanity="WebSite/$1/default.aspx?##ModuleName##=$1^##ID##=$2" />
		
    <url name="ItemsDetails"    type="" path="/{0}/pages/{1}/{2}.aspx" pattern="(\w+)/pages/(\d+)/(\p{IsArabic}|\w+).aspx" vanity="WebSite/$1/details.aspx?##ModuleName##=$1^##ID##=$2" />
		
    <url name="ItemsGalleryHtml"    type="" path="/{0}/{1}/gallery/{2}.aspx" pattern="(\w+)/(\d+)/gallery/(\p{IsArabic}|\w+).aspx" vanity="WebSite/$1/photos/gallery.aspx?##ModuleName##=$1^##ID##=$2" />
		
    <url name="ItemsGalleryFlash"    type="" path="/{0}/{1}/gallery/flash/{2}.aspx" pattern="(\w+)/(\d+)-(\d+)/gallery/flash/(\p{IsArabic}|\w+).aspx" vanity="WebSite/$1/photos/flash.aspx?##ModuleName##=$1^##ID##=$2" />
		
		<url name="ItemsRss"    type="" path="/{0}/{1}/rss/{2}.aspx" pattern="(\w+)/(\d+)/rss/(\p{IsArabic}|\w+).aspx" vanity="WebSite/$1/rss/default.aspx?##ModuleName##=$1^##ID##=$2" />

    <url name="ItemsIndexedPage"    type="" path="/{0}/page/{1}.aspx" pattern="(\w+)/page/(\d+).aspx" vanity="WebSite/$1/default.aspx?##ModuleName##=$1^##index##=$2" />
      
    <url name="ItemsCustomePage"    type="" path="/{0}/page/{1}.aspx" pattern="(\w+)/page/(\w+).aspx" vanity="WebSite/$1/$2.aspx?##ModuleName##=$1" />
		
		<url name="ItemsCustomePageWithID"    type="" path="/{0}/page/{1}/{2}.aspx" pattern="(\w+)/page/(\d+)/(\w+).aspx" vanity="WebSite/$1/$3.aspx?##ModuleName##=$1^##ID##=$2" />
      
        <!--<url name="ItemsDefault2" path="" pattern="(\w+)/(\d+)/default.aspx" vanity="WebSite/Items/Default.aspx?##CategoryID##=$2^##ModuleName##=$1" />-->

        
        
        
    </Urls>
</SiteURLs>
