<div class="headline">
    <h2>Welcome To Our Web Studio</h2>
</div>
    <div class="col-md-6 md-margin-bottom-40">
        
        <div class="row">
            <div class="col-sm-12">
                <p>
                    We are a a web design &amp; development studio based in Cairo, Egypt.We love helping people. And we take pride in giving our clients a pretty, effective, high-quality product. Whether you need a brief marketing site, a custom application, or anything in between, we’ve got you covered.
                </p>
                <p>
                    Just let us to improve your bussiness' image and try to invetsigate in your website, Take a Seconds and Explore our portfolio.
                </p>
                <ul class="list-unstyled margin-bottom-20">
                    <li><em class="fa fa-check color-green"></em> Professional Website specialists</li>
                    <li><em class="fa fa-check color-green"></em> Friendly service</li>
                    <li><em class="fa fa-check color-green"></em> Satisfied Customers</li>
                    <li><em class="fa fa-check color-green"></em> Professional Support</li>
                </ul>
            </div>
        </div>
        <blockquote class="hero-unify">
            <p>Our Web Studio is team of creative &amp; talented designers &amp; developers who share one thing in common "We all love what we do ! And we are passionate about all that we do." It is our love and passion that has allowed us to push the limits of our creativity allowing our clients to experience success &amp; build a strong brand.</p>
        </blockquote>
    </div>

    <div class="col-md-6 md-margin-bottom-40">
        @*<img src="http://developer.ab-themes.com/incomeup/wp-content/uploads/2014/07/teamMember.png">*@
        <img src="http://developer.ab-themes.com/incomeup/wp-content/uploads/2014/07/slider_about.png">
    </div>


