<div class="headline"><h2>Latest Projects</h2></div>
<div id="myCarousel" class="carousel slide carousel-v1 c-latestProject-Box">
    <div class="carousel-inner">

        <div class="item active">
            <img src="/Content/Thumbnails/973x615/Items_7777.jpg" alt="">
            <div class="carousel-caption">
                <p>Shami Resturants</p>
            </div>
        </div>

        <div class="item">
            <img src="/Content/Thumbnails/973x615/Items_7776.jpg" alt="">
            <div class="carousel-caption">
                <p>Ramsis Resturants</p>
            </div>
        </div>

        <div class="item">
            <img src="/Content/Thumbnails/973x615/Items_7775.jpg" alt="">
            <div class="carousel-caption">
                <p>Kaboria Resturant</p>
            </div>
        </div>

    </div>

    <div class="carousel-arrow">
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
