<!-- Contact Us -->

<div class="headline"><h2>Contact Us</h2></div>
<address class="md-margin-bottom-40">
    5B Streat, City 50987 New Town US <br>
    Phone: 1(222) 5x86 x97x <br>
    Url: <a href=":http://www.example.com" class="">http://www.example.com</a><br>
    Email: <a href="mailto:info@example.com" class="">info@example.com</a>
</address>
<!-- End Contact Us -->
<!-- Social Links -->
<div class="headline"><h2>Stay Connected</h2></div>
<ul class="social-icons">
    <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
    <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
    <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
    <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
    <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
</ul>
<!-- End Social Links -->
