@using AppService;
@using DCCMSNameSpace;
@using MVC.Models;
@{
   List<ItemsFilesEntity> ItemsList = ItemsFilesFactory.GetAll(0,101, ItemFileTypes.Photo);
}


@foreach (ItemsFilesEntity item in ItemsList)
{
    <div class="boxportfolio4 item cat@(item.ItemID)">
        <div class="boxcontainer">
            <img src="@(DCCMSNameSpace.SiteSettings.Site_AdminUrl + item.PhotoOiginalPath)" alt="">
            <div class="roll">
                <div class="wrapcaption">
                    <a href="projectdetail.html"><i class="icon-link captionicons"></i></a>
                    <a data-gal="prettyPhoto[gallery1]" href="@(DCCMSNameSpace.SiteSettings.Site_AdminUrl + item.PhotoOiginalPath)"><i class="icon-zoom-in captionicons"></i></a>
                </div>
            </div>
        </div>
    </div>
}

